<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="persistence" transaction-type="JTA">
    <jta-data-source>jdbc/_minglemaker</jta-data-source>
    <class>entity.Roles</class>
    <class>entity.Familybrackground</class>
    <class>entity.Appsettings</class>
    <class>entity.Userinroles</class>
    <class>entity.Userdetails</class>
    <class>entity.Users</class>
    <class>entity.Requests</class>
    <class>entity.Documents</class>
    <class>entity.Marriagebureos</class>
    <class>entity.Countries</class>
    <class>viewentity.GetAllBureo</class>
    <class>viewentity.GetAllUsers</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <shared-cache-mode>NONE</shared-cache-mode>
  </persistence-unit>
</persistence>
